<div class="nav">
    <div class="logo">Dealcity</div>
    <div class="menu">
        <a href="/">Accueil</a>
        <a href="/cart">Panier (0)</a>
        <a href="/login">Connexion</a>
        <a href="/register">Inscription</a>
    </div>
</div>