/* Default */

*,
*:before,
*:after {
	box-sizing: inherit;
}
html {
	box-sizing: border-box;
	font-family: $font-family;
	height: 100%;
}

body {
	margin: 0px;
	padding: 0px;
	height: 100%;
}

main {
	// flex: 1 0 auto;
}


ul {
	&:not(.browser-default) {
		padding-left: 0;
		list-style-type: none;

		& > li {
			list-style-type: none;
		}
	}
}

// Link

a {
	color: $color-one;
	text-decoration: none;
	outline: 0;
}

// Alignment

.vertical-align-wrapper {
	display: flex;
	align-items: center;
}

// Clearfix

.clearfix {
	clear: both;
}

.left {
	float: left;
}

.right {
	float: right;
}

.text-left {
	text-align: left !important;
}

.text-right {
	text-align: right !important;
}

.text-center {
	text-align: center !important;
}

.text-thin {
	font-weight: lighter !important;
}

.text-bold {
	font-weight: bold !important;
}