.clearfix {
	clear: both;
	&:after {
		content: "";
		clear: both;
	}
}

$landing-color: #fdfdfd;
$base-color: #0052cc;
//$landing-color: #652d43;

.landing {
	width: 100%;
	height: 100vh;
	position: relative;
	overflow: hidden;
	background-color: $landing-color;
	.landing-people {
		max-width: 100%;
		z-index: 2;
		bottom: 0;
		position: absolute;
	}
	.landing-logo {
		z-index: 3;
		max-width: 100%;
		position: relative;
		max-width: 100%;
	}
	.landing-bottom {
		position: absolute;
		bottom: 0;
	}
	.landing-auth {
		margin-top: 6em;
		.column:not(.landing-auth-container) {
			text-align: center;
			padding: 0 4em;
		}
		.landing-presentation {
			h1 {
				font-weight: 200;
				color: $white;
				margin-bottom: .2em;
			}
			p {
				margin: 0;
				font-size: 1.5em;
				color: #aba9a9;
				line-height: 1.4;
				margin-bottom: 1.2em;
			}
		}
		.landing-auth-container {
			position: relative;
			.landing-auth-box {
				background-color: $white;
				overflow: hidden;
				border-radius: 2px;
				margin: auto;
				width: 98%;
				box-shadow: $button-shadow;
				@include tablet {
					width: 550px;
				}
				.landing-auth-menu {
					overflow: hidden;
					position: relative;
					border-bottom: 2px $landing-color solid;
					.landing-auth-option {
						padding: .8em 1em;
						width: 50%;
						float: left;
						display: inline-block;
						text-align: center;
						cursor: pointer;
						font-size: 1.2em;
						background-color: lighten(#eee,3);
						color: rgba($black,0.5);
						&:hover {
							background-color: #eee;
						}
						&.selected {
							background-color: $white;
							color: #585858;
							&:hover {
								cursor: default;
							}
						}
					}
				}
				.landing-auth-content {
					padding: .8em;
					background-color: $white;
					.landing-auth-catch {
						padding: .8em;
						background-color: #ffd6d6;
						margin-bottom: 10px;
						box-shadow: $pretty-box-shadow;
						transition: all .15s linear;
						cursor: default;
						user-select: none;
						&:hover {
							transform: translateY(-6px);
						}
						li {
							color: #d44949;
						}
					}
				}
			}
		}
	}
	.landing-footer {
		position: absolute;
		bottom: 0;
		width: 100%;
		text-align: center;
		color: rgba($white,.7);
		bottom: 1em;
	}
}

.button {
	display: inline-block;
	position: relative;
	cursor: pointer;
	transition: all .15s linear;
	font-family: inherit;
	padding: 1em 1.8em;
	border: none;
	border-radius: .25em;
	&:hover {
		box-shadow: $button-shadow;
		transform: translateY(-.15em);
	}
	&:focus {
		outline: 0;
	}
	&.button-base {
		background-color: $base-color;
		color: $white;
	}
	&.button-rounded {
		border: 2px $white solid;
		padding: .6em 2em;
		border-radius: 10em;
		&:hover {
			background-color: transparent;
		}
	}
	&.button-landing {
		color: #fff;
		font-size: 1.2em;
		&:hover {
			opacity: .6;
		}
	}
}

.field {
	padding: .8em 2em;
	border-radius: 4px;
	width: 100%;
	margin-bottom: 8px;
	border: 1px solid #ccc;
	&:focus {
		outline: 0;
		box-shadow: $pretty-box-shadow;
	}
}