/*-------------------
      Global
--------------------*/

$font-family: Lato, 'Helvetica Neue', Arial, 'Helvetica', 'sans-serif' !default;

$pretty-box-shadow: 0 1px 2px 0 rgba(34,36,38,.15) !default;

$button-shadow: 0 4px 14px 0 rgba(0,0,0,.2);

/*-------------------
      Colors
--------------------*/

$white: #fff !default;
$black: #000 !default;
$light-black: rgba(black,0.7) !default;
$color-one: #e14747;

/*-------------------
      Grid
--------------------*/

$small-screen-up: 601px !default;
$medium-screen-up: 993px !default;
$large-screen-up: 1201px !default;
$small-screen: 600px !default;
$medium-screen: 992px !default;
$large-screen: 1200px !default;

$medium-and-up: "only screen and (min-width : #{$small-screen-up})" !default;
$large-and-up: "only screen and (min-width : #{$medium-screen-up})" !default;
$small-and-down: "only screen and (max-width : #{$small-screen})" !default;
$small-and-up: "only screen and (min-width : #{$small-screen})" !default;
$medium-and-down: "only screen and (max-width : #{$medium-screen})" !default;
$medium-only: "only screen and (min-width : #{$small-screen-up}) and (max-width : #{$medium-screen})" !default;

@mixin tablet {
	@media #{$medium-and-up} {
		@content;
	}
}

@mixin desktop {
	@media #{$large-and-up} {
		@content;
	}
}

$medium-and-up: "only screen and (min-width : #{$small-screen-up})" !default;
$large-and-up: "only screen and (min-width : #{$medium-screen-up})" !default;
$extra-large-and-up: "only screen and (min-width : #{$large-screen-up})" !default;
$small-and-down: "only screen and (max-width : #{$small-screen})" !default;
$medium-and-down: "only screen and (max-width : #{$medium-screen})" !default;
$medium-only: "only screen and (min-width : #{$small-screen-up}) and (max-width : #{$medium-screen})" !default;

$num-cols: 12 !default;
$gutter-width: 1.5rem !default;

$container-small-width: 90% !default;
$container-small-fluid-width: 97% !default;

$container-medium-width: 85% !default;
$container-medium-fluid-width: 98% !default;

$container-large-width: 70% !default;
$container-large-fluid-width: 98% !default;

$segment-padding: .9rem !default;
$segment-border-radius: 4px !default;
$segment-border: 1px #ddd solid !default;
$segment-margin-bottom: .9rem !default;
$segment-bg-color: transparent !default;
$segment-right-margin-left: .7rem;

$segment-basic-padding: .9rem 0 !default;
$segment-basic-border-radius: 0 !default;
$segment-basic-border: none !default;
$segment-basic-border-bottom: 0 !default;
$segment-basic-bg-color: transparent !default;

$segment-compact-padding: .7rem !default;

$segment-colored-color: $white !default;
$segment-colored-border: none !default;