<% include ../partials/header.ejs %>

<div class="container">

    <div class="page-title">Inscription</div>

    <% if(typeof message !== 'undefined') {
    if (message.length > 0) { %>
    <div class="alert alert-danger"><%= message %></div>
    <% }
    } %>

    <form action="register" method="post">
        <input type="text" placeholder="Pseudonyme" name="username" class="field">
        <input type="email" placeholder="Adresse email" name="email" class="field">
        <input type="password" placeholder="Mot de passe" name="password" class="field">
        <input type="password" placeholder="Repéter le mot de passe" name="password_cf" class="field">
        <button class="button">S'inscrire</button>
    </form>

</div>

<% include ../partials/footer.ejs %>