@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/Lato-Regular.ttf"), url("../fonts/Lato-Italic.ttf"), url("../fonts/Lato-Black.ttf"), url("../fonts/Lato-BlackItalic.ttf"), url("../fonts/Lato-Light.ttf"), url("../fonts/Lato-LightItalic.ttf"), url("../fonts/Lato-Hairline.ttf"), url("../fonts/Lato-HairlineItalic.ttf"), url("../fonts/Lato-Bold.ttf"), url("../fonts/Lato-BoldItalic.ttf"); }
/*-------------------
      Global
--------------------*/
/*-------------------
      Colors
--------------------*/
/*-------------------
      Grid
--------------------*/
/* Default */
*,
*:before,
*:after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-family: Lato, "Helvetica Neue", Arial, "Helvetica", "sans-serif";
  height: 100%; }

body {
  margin: 0px;
  padding: 0px;
  height: 100%; }

ul:not(.browser-default) {
  padding-left: 0;
  list-style-type: none; }
  ul:not(.browser-default) > li {
    list-style-type: none; }

a {
  color: #e14747;
  text-decoration: none;
  outline: 0; }

.vertical-align-wrapper {
  display: flex;
  align-items: center; }

.clearfix {
  clear: both; }

.left {
  float: left; }

.right {
  float: right; }

.text-left {
  text-align: left !important; }

.text-right {
  text-align: right !important; }

.text-center {
  text-align: center !important; }

.text-thin {
  font-weight: lighter !important; }

.text-bold {
  font-weight: bold !important; }

/*-------------------
      Default
--------------------*/
.no-margin {
  margin: 0 !important; }

.no-margin-left {
  margin-left: 0 !important; }

.no-margin-right {
  margin-right: 0 !important; }

.no-margin-top {
  margin-top: 0 !important; }

.no-margin-bottom {
  margin-bottom: 0 !important; }

.no-padding {
  padding: 0 !important; }

.no-padding-left {
  padding-left: 0 !important; }

.no-padding-right {
  padding-right: 0 !important; }

.no-padding-top {
  padding-top: 0 !important; }

.no-padding-bottom {
  padding-bottom: 0 !important; }

@media only screen and (max-width: 600px) {
  .hide-on-small-only, .hide-on-small-and-down {
    display: none !important; } }

@media only screen and (max-width: 992px) {
  .hide-on-med-and-down {
    display: none !important; } }

@media only screen and (min-width: 601px) {
  .hide-on-med-and-up {
    display: none !important; } }

@media only screen and (min-width: 600px) and (max-width: 992px) {
  .hide-on-med-only {
    display: none !important; } }

@media only screen and (min-width: 993px) {
  .hide-on-large-only {
    display: none !important; } }

@media only screen and (min-width: 993px) {
  .show-on-large {
    display: block !important; } }

@media only screen and (min-width: 600px) and (max-width: 992px) {
  .show-on-medium {
    display: block !important; } }

@media only screen and (max-width: 600px) {
  .show-on-small {
    display: block !important; } }

@media only screen and (min-width: 601px) {
  .show-on-medium-and-up {
    display: block !important; } }

@media only screen and (max-width: 992px) {
  .show-on-medium-and-down {
    display: block !important; } }

@media only screen and (max-width: 600px) {
  .center-on-small-only {
    text-align: center; } }

/*-------------------
      Container
--------------------*/
.container {
  margin: 0 auto;
  width: 90%; }
  .container::after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  .container.container-fluid {
    width: 97% !important; }

@media only screen and (min-width: 601px) {
  .container {
    width: 85%; }
    .container.container-fluid {
      width: 98% !important; } }
@media only screen and (min-width: 993px) {
  .container {
    width: 70%; }
    .container.container-fluid {
      width: 98% !important; } }
.container.ten-wide {
  width: 100% !important; }
.container.nine-wide {
  width: 100% !important; }
.container.eight-wide {
  width: 100% !important; }
.container.seven-wide {
  width: 100% !important; }
.container.six-wide {
  width: 100% !important; }
.container.five-wide {
  width: 100% !important; }
.container.four-wide {
  width: 100% !important; }
.container.three-wide {
  width: 100% !important; }
.container.two-wide {
  width: 100% !important; }
.container.one-wide {
  width: 100% !important; }
@media only screen and (min-width: 601px) {
  .container.ten-wide {
    width: 100% !important; }
  .container.nine-wide {
    width: 90% !important; }
  .container.eight-wide {
    width: 80% !important; }
  .container.seven-wide {
    width: 70% !important; }
  .container.six-wide {
    width: 60% !important; }
  .container.five-wide {
    width: 50% !important; }
  .container.four-wide {
    width: 40% !important; }
  .container.three-wide {
    width: 30% !important; }
  .container.two-wide {
    width: 20% !important; }
  .container.one-wide {
    width: 10% !important; } }

/*-------------------
        Grid
--------------------*/
.grid {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px; }
  .grid:after {
    content: "";
    display: table;
    clear: both; }
  .grid .column {
    float: left;
    box-sizing: border-box;
    padding: 0 0.75rem;
    min-height: 1px; }
    .grid .column[class*="push-"], .grid .column[class*="pull-"] {
      position: relative; }
    .grid .column.small-1 {
      width: 8.3333333333%;
      margin-left: auto;
      left: auto;
      right: auto; }
    .grid .column.small-2 {
      width: 16.6666666667%;
      margin-left: auto;
      left: auto;
      right: auto; }
    .grid .column.small-3 {
      width: 25%;
      margin-left: auto;
      left: auto;
      right: auto; }
    .grid .column.small-4 {
      width: 33.3333333333%;
      margin-left: auto;
      left: auto;
      right: auto; }
    .grid .column.small-5 {
      width: 41.6666666667%;
      margin-left: auto;
      left: auto;
      right: auto; }
    .grid .column.small-6 {
      width: 50%;
      margin-left: auto;
      left: auto;
      right: auto; }
    .grid .column.small-7 {
      width: 58.3333333333%;
      margin-left: auto;
      left: auto;
      right: auto; }
    .grid .column.small-8 {
      width: 66.6666666667%;
      margin-left: auto;
      left: auto;
      right: auto; }
    .grid .column.small-9 {
      width: 75%;
      margin-left: auto;
      left: auto;
      right: auto; }
    .grid .column.small-10 {
      width: 83.3333333333%;
      margin-left: auto;
      left: auto;
      right: auto; }
    .grid .column.small-11 {
      width: 91.6666666667%;
      margin-left: auto;
      left: auto;
      right: auto; }
    .grid .column.small-12 {
      width: 100%;
      margin-left: auto;
      left: auto;
      right: auto; }
    .grid .column.offset-small--1 {
      margin-left: 8.3333333333%; }
    .grid .column.pull-small--1 {
      right: 8.3333333333%; }
    .grid .column.push-small--1 {
      left: 8.3333333333%; }
    .grid .column.offset-small--2 {
      margin-left: 16.6666666667%; }
    .grid .column.pull-small--2 {
      right: 16.6666666667%; }
    .grid .column.push-small--2 {
      left: 16.6666666667%; }
    .grid .column.offset-small--3 {
      margin-left: 25%; }
    .grid .column.pull-small--3 {
      right: 25%; }
    .grid .column.push-small--3 {
      left: 25%; }
    .grid .column.offset-small--4 {
      margin-left: 33.3333333333%; }
    .grid .column.pull-small--4 {
      right: 33.3333333333%; }
    .grid .column.push-small--4 {
      left: 33.3333333333%; }
    .grid .column.offset-small--5 {
      margin-left: 41.6666666667%; }
    .grid .column.pull-small--5 {
      right: 41.6666666667%; }
    .grid .column.push-small--5 {
      left: 41.6666666667%; }
    .grid .column.offset-small--6 {
      margin-left: 50%; }
    .grid .column.pull-small--6 {
      right: 50%; }
    .grid .column.push-small--6 {
      left: 50%; }
    .grid .column.offset-small--7 {
      margin-left: 58.3333333333%; }
    .grid .column.pull-small--7 {
      right: 58.3333333333%; }
    .grid .column.push-small--7 {
      left: 58.3333333333%; }
    .grid .column.offset-small--8 {
      margin-left: 66.6666666667%; }
    .grid .column.pull-small--8 {
      right: 66.6666666667%; }
    .grid .column.push-small--8 {
      left: 66.6666666667%; }
    .grid .column.offset-small--9 {
      margin-left: 75%; }
    .grid .column.pull-small--9 {
      right: 75%; }
    .grid .column.push-small--9 {
      left: 75%; }
    .grid .column.offset-small--10 {
      margin-left: 83.3333333333%; }
    .grid .column.pull-small--10 {
      right: 83.3333333333%; }
    .grid .column.push-small--10 {
      left: 83.3333333333%; }
    .grid .column.offset-small--11 {
      margin-left: 91.6666666667%; }
    .grid .column.pull-small--11 {
      right: 91.6666666667%; }
    .grid .column.push-small--11 {
      left: 91.6666666667%; }
    .grid .column.offset-small--12 {
      margin-left: 100%; }
    .grid .column.pull-small--12 {
      right: 100%; }
    .grid .column.push-small--12 {
      left: 100%; }
    @media only screen and (min-width: 601px) {
      .grid .column.medium-1 {
        width: 8.3333333333%;
        margin-left: auto;
        left: auto;
        right: auto; }
      .grid .column.medium-2 {
        width: 16.6666666667%;
        margin-left: auto;
        left: auto;
        right: auto; }
      .grid .column.medium-3 {
        width: 25%;
        margin-left: auto;
        left: auto;
        right: auto; }
      .grid .column.medium-4 {
        width: 33.3333333333%;
        margin-left: auto;
        left: auto;
        right: auto; }
      .grid .column.medium-5 {
        width: 41.6666666667%;
        margin-left: auto;
        left: auto;
        right: auto; }
      .grid .column.medium-6 {
        width: 50%;
        margin-left: auto;
        left: auto;
        right: auto; }
      .grid .column.medium-7 {
        width: 58.3333333333%;
        margin-left: auto;
        left: auto;
        right: auto; }
      .grid .column.medium-8 {
        width: 66.6666666667%;
        margin-left: auto;
        left: auto;
        right: auto; }
      .grid .column.medium-9 {
        width: 75%;
        margin-left: auto;
        left: auto;
        right: auto; }
      .grid .column.medium-10 {
        width: 83.3333333333%;
        margin-left: auto;
        left: auto;
        right: auto; }
      .grid .column.medium-11 {
        width: 91.6666666667%;
        margin-left: auto;
        left: auto;
        right: auto; }
      .grid .column.medium-12 {
        width: 100%;
        margin-left: auto;
        left: auto;
        right: auto; }
      .grid .column.offset-medium--1 {
        margin-left: 8.3333333333%; }
      .grid .column.pull-medium--1 {
        right: 8.3333333333%; }
      .grid .column.push-medium--1 {
        left: 8.3333333333%; }
      .grid .column.offset-medium--2 {
        margin-left: 16.6666666667%; }
      .grid .column.pull-medium--2 {
        right: 16.6666666667%; }
      .grid .column.push-medium--2 {
        left: 16.6666666667%; }
      .grid .column.offset-medium--3 {
        margin-left: 25%; }
      .grid .column.pull-medium--3 {
        right: 25%; }
      .grid .column.push-medium--3 {
        left: 25%; }
      .grid .column.offset-medium--4 {
        margin-left: 33.3333333333%; }
      .grid .column.pull-medium--4 {
        right: 33.3333333333%; }
      .grid .column.push-medium--4 {
        left: 33.3333333333%; }
      .grid .column.offset-medium--5 {
        margin-left: 41.6666666667%; }
      .grid .column.pull-medium--5 {
        right: 41.6666666667%; }
      .grid .column.push-medium--5 {
        left: 41.6666666667%; }
      .grid .column.offset-medium--6 {
        margin-left: 50%; }
      .grid .column.pull-medium--6 {
        right: 50%; }
      .grid .column.push-medium--6 {
        left: 50%; }
      .grid .column.offset-medium--7 {
        margin-left: 58.3333333333%; }
      .grid .column.pull-medium--7 {
        right: 58.3333333333%; }
      .grid .column.push-medium--7 {
        left: 58.3333333333%; }
      .grid .column.offset-medium--8 {
        margin-left: 66.6666666667%; }
      .grid .column.pull-medium--8 {
        right: 66.6666666667%; }
      .grid .column.push-medium--8 {
        left: 66.6666666667%; }
      .grid .column.offset-medium--9 {
        margin-left: 75%; }
      .grid .column.pull-medium--9 {
        right: 75%; }
      .grid .column.push-medium--9 {
        left: 75%; }
      .grid .column.offset-medium--10 {
        margin-left: 83.3333333333%; }
      .grid .column.pull-medium--10 {
        right: 83.3333333333%; }
      .grid .column.push-medium--10 {
        left: 83.3333333333%; }
      .grid .column.offset-medium--11 {
        margin-left: 91.6666666667%; }
      .grid .column.pull-medium--11 {
        right: 91.6666666667%; }
      .grid .column.push-medium--11 {
        left: 91.6666666667%; }
      .grid .column.offset-medium--12 {
        margin-left: 100%; }
      .grid .column.pull-medium--12 {
        right: 100%; }
      .grid .column.push-medium--12 {
        left: 100%; } }
    @media only screen and (min-width: 993px) {
      .grid .column.large-1 {
        width: 8.3333333333%;
        margin-left: auto;
        left: auto;
        right: auto; }
      .grid .column.large-2 {
        width: 16.6666666667%;
        margin-left: auto;
        left: auto;
        right: auto; }
      .grid .column.large-3 {
        width: 25%;
        margin-left: auto;
        left: auto;
        right: auto; }
      .grid .column.large-4 {
        width: 33.3333333333%;
        margin-left: auto;
        left: auto;
        right: auto; }
      .grid .column.large-5 {
        width: 41.6666666667%;
        margin-left: auto;
        left: auto;
        right: auto; }
      .grid .column.large-6 {
        width: 50%;
        margin-left: auto;
        left: auto;
        right: auto; }
      .grid .column.large-7 {
        width: 58.3333333333%;
        margin-left: auto;
        left: auto;
        right: auto; }
      .grid .column.large-8 {
        width: 66.6666666667%;
        margin-left: auto;
        left: auto;
        right: auto; }
      .grid .column.large-9 {
        width: 75%;
        margin-left: auto;
        left: auto;
        right: auto; }
      .grid .column.large-10 {
        width: 83.3333333333%;
        margin-left: auto;
        left: auto;
        right: auto; }
      .grid .column.large-11 {
        width: 91.6666666667%;
        margin-left: auto;
        left: auto;
        right: auto; }
      .grid .column.large-12 {
        width: 100%;
        margin-left: auto;
        left: auto;
        right: auto; }
      .grid .column.offset-large--1 {
        margin-left: 8.3333333333%; }
      .grid .column.pull-large--1 {
        right: 8.3333333333%; }
      .grid .column.push-large--1 {
        left: 8.3333333333%; }
      .grid .column.offset-large--2 {
        margin-left: 16.6666666667%; }
      .grid .column.pull-large--2 {
        right: 16.6666666667%; }
      .grid .column.push-large--2 {
        left: 16.6666666667%; }
      .grid .column.offset-large--3 {
        margin-left: 25%; }
      .grid .column.pull-large--3 {
        right: 25%; }
      .grid .column.push-large--3 {
        left: 25%; }
      .grid .column.offset-large--4 {
        margin-left: 33.3333333333%; }
      .grid .column.pull-large--4 {
        right: 33.3333333333%; }
      .grid .column.push-large--4 {
        left: 33.3333333333%; }
      .grid .column.offset-large--5 {
        margin-left: 41.6666666667%; }
      .grid .column.pull-large--5 {
        right: 41.6666666667%; }
      .grid .column.push-large--5 {
        left: 41.6666666667%; }
      .grid .column.offset-large--6 {
        margin-left: 50%; }
      .grid .column.pull-large--6 {
        right: 50%; }
      .grid .column.push-large--6 {
        left: 50%; }
      .grid .column.offset-large--7 {
        margin-left: 58.3333333333%; }
      .grid .column.pull-large--7 {
        right: 58.3333333333%; }
      .grid .column.push-large--7 {
        left: 58.3333333333%; }
      .grid .column.offset-large--8 {
        margin-left: 66.6666666667%; }
      .grid .column.pull-large--8 {
        right: 66.6666666667%; }
      .grid .column.push-large--8 {
        left: 66.6666666667%; }
      .grid .column.offset-large--9 {
        margin-left: 75%; }
      .grid .column.pull-large--9 {
        right: 75%; }
      .grid .column.push-large--9 {
        left: 75%; }
      .grid .column.offset-large--10 {
        margin-left: 83.3333333333%; }
      .grid .column.pull-large--10 {
        right: 83.3333333333%; }
      .grid .column.push-large--10 {
        left: 83.3333333333%; }
      .grid .column.offset-large--11 {
        margin-left: 91.6666666667%; }
      .grid .column.pull-large--11 {
        right: 91.6666666667%; }
      .grid .column.push-large--11 {
        left: 91.6666666667%; }
      .grid .column.offset-large--12 {
        margin-left: 100%; }
      .grid .column.pull-large--12 {
        right: 100%; }
      .grid .column.push-large--12 {
        left: 100%; } }
    @media only screen and (min-width: 1201px) {
      .grid .column.extralarge-1 {
        width: 8.3333333333%;
        margin-left: auto;
        left: auto;
        right: auto; }
      .grid .column.extralarge-2 {
        width: 16.6666666667%;
        margin-left: auto;
        left: auto;
        right: auto; }
      .grid .column.extralarge-3 {
        width: 25%;
        margin-left: auto;
        left: auto;
        right: auto; }
      .grid .column.extralarge-4 {
        width: 33.3333333333%;
        margin-left: auto;
        left: auto;
        right: auto; }
      .grid .column.extralarge-5 {
        width: 41.6666666667%;
        margin-left: auto;
        left: auto;
        right: auto; }
      .grid .column.extralarge-6 {
        width: 50%;
        margin-left: auto;
        left: auto;
        right: auto; }
      .grid .column.extralarge-7 {
        width: 58.3333333333%;
        margin-left: auto;
        left: auto;
        right: auto; }
      .grid .column.extralarge-8 {
        width: 66.6666666667%;
        margin-left: auto;
        left: auto;
        right: auto; }
      .grid .column.extralarge-9 {
        width: 75%;
        margin-left: auto;
        left: auto;
        right: auto; }
      .grid .column.extralarge-10 {
        width: 83.3333333333%;
        margin-left: auto;
        left: auto;
        right: auto; }
      .grid .column.extralarge-11 {
        width: 91.6666666667%;
        margin-left: auto;
        left: auto;
        right: auto; }
      .grid .column.extralarge-12 {
        width: 100%;
        margin-left: auto;
        left: auto;
        right: auto; }
      .grid .column.offset-extralarge--1 {
        margin-left: 8.3333333333%; }
      .grid .column.pull-extralarge--1 {
        right: 8.3333333333%; }
      .grid .column.push-extralarge--1 {
        left: 8.3333333333%; }
      .grid .column.offset-extralarge--2 {
        margin-left: 16.6666666667%; }
      .grid .column.pull-extralarge--2 {
        right: 16.6666666667%; }
      .grid .column.push-extralarge--2 {
        left: 16.6666666667%; }
      .grid .column.offset-extralarge--3 {
        margin-left: 25%; }
      .grid .column.pull-extralarge--3 {
        right: 25%; }
      .grid .column.push-extralarge--3 {
        left: 25%; }
      .grid .column.offset-extralarge--4 {
        margin-left: 33.3333333333%; }
      .grid .column.pull-extralarge--4 {
        right: 33.3333333333%; }
      .grid .column.push-extralarge--4 {
        left: 33.3333333333%; }
      .grid .column.offset-extralarge--5 {
        margin-left: 41.6666666667%; }
      .grid .column.pull-extralarge--5 {
        right: 41.6666666667%; }
      .grid .column.push-extralarge--5 {
        left: 41.6666666667%; }
      .grid .column.offset-extralarge--6 {
        margin-left: 50%; }
      .grid .column.pull-extralarge--6 {
        right: 50%; }
      .grid .column.push-extralarge--6 {
        left: 50%; }
      .grid .column.offset-extralarge--7 {
        margin-left: 58.3333333333%; }
      .grid .column.pull-extralarge--7 {
        right: 58.3333333333%; }
      .grid .column.push-extralarge--7 {
        left: 58.3333333333%; }
      .grid .column.offset-extralarge--8 {
        margin-left: 66.6666666667%; }
      .grid .column.pull-extralarge--8 {
        right: 66.6666666667%; }
      .grid .column.push-extralarge--8 {
        left: 66.6666666667%; }
      .grid .column.offset-extralarge--9 {
        margin-left: 75%; }
      .grid .column.pull-extralarge--9 {
        right: 75%; }
      .grid .column.push-extralarge--9 {
        left: 75%; }
      .grid .column.offset-extralarge--10 {
        margin-left: 83.3333333333%; }
      .grid .column.pull-extralarge--10 {
        right: 83.3333333333%; }
      .grid .column.push-extralarge--10 {
        left: 83.3333333333%; }
      .grid .column.offset-extralarge--11 {
        margin-left: 91.6666666667%; }
      .grid .column.pull-extralarge--11 {
        right: 91.6666666667%; }
      .grid .column.push-extralarge--11 {
        left: 91.6666666667%; }
      .grid .column.offset-extralarge--12 {
        margin-left: 100%; }
      .grid .column.pull-extralarge--12 {
        right: 100%; }
      .grid .column.push-extralarge--12 {
        left: 100%; } }

.clearfix {
  clear: both; }
  .clearfix:after {
    content: "";
    clear: both; }

.landing {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background-color: #fdfdfd; }
  .landing .landing-people {
    max-width: 100%;
    z-index: 2;
    bottom: 0;
    position: absolute; }
  .landing .landing-logo {
    z-index: 3;
    max-width: 100%;
    position: relative;
    max-width: 100%; }
  .landing .landing-bottom {
    position: absolute;
    bottom: 0; }
  .landing .landing-auth {
    margin-top: 6em; }
    .landing .landing-auth .column:not(.landing-auth-container) {
      text-align: center;
      padding: 0 4em; }
    .landing .landing-auth .landing-presentation h1 {
      font-weight: 200;
      color: #fff;
      margin-bottom: .2em; }
    .landing .landing-auth .landing-presentation p {
      margin: 0;
      font-size: 1.5em;
      color: #aba9a9;
      line-height: 1.4;
      margin-bottom: 1.2em; }
    .landing .landing-auth .landing-auth-container {
      position: relative; }
      .landing .landing-auth .landing-auth-container .landing-auth-box {
        background-color: #fff;
        overflow: hidden;
        border-radius: 2px;
        margin: auto;
        width: 98%;
        box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.2); }
        @media only screen and (min-width: 601px) {
          .landing .landing-auth .landing-auth-container .landing-auth-box {
            width: 550px; } }
        .landing .landing-auth .landing-auth-container .landing-auth-box .landing-auth-menu {
          overflow: hidden;
          position: relative;
          border-bottom: 2px #fdfdfd solid; }
          .landing .landing-auth .landing-auth-container .landing-auth-box .landing-auth-menu .landing-auth-option {
            padding: .8em 1em;
            width: 50%;
            float: left;
            display: inline-block;
            text-align: center;
            cursor: pointer;
            font-size: 1.2em;
            background-color: #f6f6f6;
            color: rgba(0, 0, 0, 0.5); }
            .landing .landing-auth .landing-auth-container .landing-auth-box .landing-auth-menu .landing-auth-option:hover {
              background-color: #eee; }
            .landing .landing-auth .landing-auth-container .landing-auth-box .landing-auth-menu .landing-auth-option.selected {
              background-color: #fff;
              color: #585858; }
              .landing .landing-auth .landing-auth-container .landing-auth-box .landing-auth-menu .landing-auth-option.selected:hover {
                cursor: default; }
        .landing .landing-auth .landing-auth-container .landing-auth-box .landing-auth-content {
          padding: .8em;
          background-color: #fff; }
          .landing .landing-auth .landing-auth-container .landing-auth-box .landing-auth-content .landing-auth-catch {
            padding: .8em;
            background-color: #ffd6d6;
            margin-bottom: 10px;
            box-shadow: 0 1px 2px 0 rgba(34, 36, 38, 0.15);
            transition: all .15s linear;
            cursor: default;
            user-select: none; }
            .landing .landing-auth .landing-auth-container .landing-auth-box .landing-auth-content .landing-auth-catch:hover {
              transform: translateY(-6px); }
            .landing .landing-auth .landing-auth-container .landing-auth-box .landing-auth-content .landing-auth-catch li {
              color: #d44949; }
  .landing .landing-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
    bottom: 1em; }

.button {
  display: inline-block;
  position: relative;
  cursor: pointer;
  transition: all .15s linear;
  font-family: inherit;
  padding: 1em 1.8em;
  border: none;
  border-radius: .25em; }
  .button:hover {
    box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.2);
    transform: translateY(-0.15em); }
  .button:focus {
    outline: 0; }
  .button.button-base {
    background-color: #0052cc;
    color: #fff; }
  .button.button-rounded {
    border: 2px #fff solid;
    padding: .6em 2em;
    border-radius: 10em; }
    .button.button-rounded:hover {
      background-color: transparent; }
  .button.button-landing {
    color: #fff;
    font-size: 1.2em; }
    .button.button-landing:hover {
      opacity: .6; }

.field {
  padding: .8em 2em;
  border-radius: 4px;
  width: 100%;
  margin-bottom: 8px;
  border: 1px solid #ccc; }
  .field:focus {
    outline: 0;
    box-shadow: 0 1px 2px 0 rgba(34, 36, 38, 0.15); }

/*# sourceMappingURL=kommunity.css.map */
